<%- include('includes/head.ejs') %> 
  <link rel="stylesheet" href="/css/form.css" />
  </head>
  <body>
    <main class="container">
      <section class="form__container">
        <h5 class="form__title">Form to add User</h5>
        <form action="/users" method="POST">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" placeholder="Please, add a name..."> 
          <button type="submit">Add User</button>
        </form>
      </section>
    </main>
    <h1></h1>
<%- include('includes/end.ejs') %> 